* {
    margin: 0;
    padding: 0;
}

/* beginning of header */
.header{
    padding: 2em;
}


.logo{
    font-family: 'Kaushan Script';
    font-weight: bold;
    font-size: 3em;
}

.logo .first{
    color: #f68b1f;
}

.logo .second{
    color: #36525b;
}

.sort-form-div{
    width: 80%;
    display: flex;
    float: right;
}

.select{
    width: 70%;
}

.sort-select{
    border-radius: 0;
    outline: none;
    font-family: Alegreya;
    border: 1px solid #36525b;
}

.go-button{
    border-radius: 0;
    background-color: #f68b1f;
    border: 1px solid #f68b1f;
    outline: none;
    color: #fff;
    font-family: Alegreya;
}

.go-button:hover, .go-button:focus{
    background-color: #f68b1f;
    border: 1px solid #f68b1f;
    opacity: 0.8;
    outline: none;
    color: #fff;
    font-family: Alegreya;
}

.header-line{
    border: 1px solid #36525b;
    width: 100%;
}

.header-intro{
    font-family: 'Bree Serif';
    font-size: 1.4em;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
}

button:focus, select:focus{
    outline: none;
}

/* end of header */


/* The beginning of product card */
.product-card{
    padding: 1%;
}

.product-card .inner-container{
    background-color: #e9ebec;
    padding-top: 10%;
    padding-bottom: 10%;
}

.inner-container .date{
    float: right;
    margin-right: 10%;
    margin-top: 3em;
}

.image{
    background-color: #fff;
    width: 80%;
    margin-left: 10%;
    padding: 10%;
}

.image p{
    text-align: center;
    font-family: 'Bree Serif';
}

.data{
    margin-left: 10%;
    margin-top: 8%;
    width: 80%;
}

.product-data{
    font-size: 0.9em;
    font-family: 'Bree Serif';
    font-weight: bold;
}

.product-data span{
    font-weight: normal;
    font-style: italic;
    color: #36525b;
}

.date{
    font-size: 0.5em;
}

.to-cart{
    margin-top: 1.5em;
}

/* The end of product card */